
<div class="contact">

<div id="map-canvas" class="col-xs-12 col-sm-12 col-md-5 col-lg-5" ></div>

</div>

<div class="form-contact">
<%= form_tag(send_mail_path) do %>

            <%= raw negative_captcha(@captcha) %>
            <div>
                <%= negative_label_tag @captcha,:name, 'Nombre' %>
                <%= negative_text_field_tag @captcha,:name,  class: '', placeholder: 'Tu nombre' %>
            </div>
           <div >
               <%= negative_label_tag @captcha,:mail,'mail' %>
               <%= negative_text_field_tag @captcha,:mail,  class: '', placeholder: 'Tu Email' %>
           </div>
           <div >
               <%= negative_label_tag @captcha,:comments, 'Comentarios' %>
               <%= negative_text_area_tag @captcha,:comments,  class: '', rows: 4,  placeholder: 'Comments...' %>
           </div>
           <%= submit_tag nil, class: "button" %>
 <% end %>
</div>