
<div class="content-home row">
	<div class="info-home col-md-4 ">
		<%=image_tag("logosys2.png" , class:"img-responsive" , alt:"Responsive image")%>

		<div class="description">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Donec quis ultrices arcu. Donec scelerisque metus vel
			bibendum fringilla. Phasellus suscipit ut massa eleifend
			hendrerit. Phasellus quis lacus in justo dapibus dignissim.
			In tincidunt, tellus quis mollis pulvinar, libero lectus
			dapibus tellus, nec hendrerit odio neque vel lorem.</p>

			<div class="zone_buttons row">
				<div class="button">Productos</div>
				<div class="button">Información Técnica</div>
			</div>
			<div class="users">REGISTRO | LOG IN</div>
			<div clsdd="adress">Marín #0319 , Providencia, Santiago • t: (02) 222 0320</div>
		</div>
	</div>

	<div class="col-md-2"></div>

	<div class="featured-home col-md-7">
		<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
    <li data-target="#carousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%=image_tag "carousel/termostatoanima.gif"%>
      
    </div>
    <div class="item">
      <%=image_tag "carousel/gases.png"%>
    </div>
    <div class="item">
      <%=image_tag "carousel/valvulas.png"%>
    </div>
    <div class="item">
      <%=image_tag "carousel/compresor.png"%>
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>



	</div>



</div>
<div class="clients-wrap">
  <ul id="clients-list" class="clearfix">
    <li><img src="assets/logos/l1.PNG" alt=""></li>
    <li><img src="assets/logos/l2.PNG" alt=""></li>
    <li><img src="assets/logos/l3.PNG" alt=""></li>
    <li><img src="assets/logos/l4.PNG" alt=""></li>
    <li><img src="assets/logos/l5.PNG" alt=""></li>
    <li><img src="assets/logos/l6.PNG" alt=""></li>
    <li><img src="assets/logos/l7.PNG" alt=""></li>
    <li><img src="assets/logos/l8.PNG" alt=""></li>
    <li><img src="assets/logos/l9.PNG" alt=""></li>
    <li><img src="assets/logos/l10.PNG" alt=""></li>
    <li><img src="assets/logos/l11.PNG" alt=""></li>
  </ul>
</div><!-- @end .clients-wrap -->
<script type="text/javascript">goclients();</script>
