<script type="text/javascript">CheckedValues();</script>

<div class="category">

<div class="types">
	<% types.each do |type| %>
		
	<div class="imgType">
		<!--<%= link_to (image_tag type.image), :controller => "categories", :action => "index_product", :typeID => type.id , remote:true  %>-->
		<%= link_to (image_tag type.image), type  %>
		<p><%=type.sub_model %></p>
	</div>


 	<% end %>


</div>



<div class="info-type">
	<p>Selecciona una categoría</p>
</div>

</div>


<!--
<% types.each do |type| %>
<div>
<div>
 <%= image_tag type.image%>
 <%= type.image%>
 <%= type.model%>
 <%= link_to "Productos", :controller => "categories", :action => "index_product", :typeID => type.id , remote:true  %>

</div>
</div>
<% end %>-->