<script type="text/javascript">CheckedValues();</script>

<div class="category">
<h1>> PRODUCTOS > COMPRESORES</h1>

<div class="types">
	<% types.each do |type| %>
	<div class="imgType">
		<%= link_to (image_tag type.image), :controller => "categories", :action => "index_product", :typeID => type.id , remote:true  %>
		<p><%=type.description %></p>
	</div>


 	<% end %>


	<a href="/show"><img src="assets/cat-1-hover-01.png"></a>
</div>



<div class="info-type">
	<p>COMPRESORES SEMI-HERMÉTICOS | 1 a 80 HP. Fabricados en Italia</p>
</div>

</div>


<!--
<% types.each do |type| %>
<div>
<div>
 <%= image_tag type.image%>
 <%= type.image%>
 <%= type.model%>
 <%= link_to "Productos", :controller => "categories", :action => "index_product", :typeID => type.id , remote:true  %>

</div>
</div>
<% end %>-->