<div id="holder">
<div class="productos">


  <div class="cat-info col-md-4">
<%=image_tag("logosys2.png" , class:"img-responsive" , alt:"Responsive image")%>

  </div>

  <div class="col-md-8 opciones-bg">
    
    <div class="cat col-xs-6 col-sm-4 col-md-4">
      <%= get_url_img("compresores.jpg","com","Compresores") %>
      <p><%=get_url("COMPRESORES","com","Compresores") %></p>
    </div>

        <div class="cat col-xs-6 col-sm-4 col-md-4">
          <%= get_url_img("ventiladores.jpg","ven","Ventiladores") %>
      <p><%= get_url("VENTILADORES","ven","Ventiladores") %></p>
    </div>

        <div class="cat col-xs-6 col-sm-4 col-md-4">
           <%= get_url_img("filtros.jpg","fil","Filtros") %>
      <p><%=get_url("FILTROS","fil","Filtros") %></p>
    </div>

        <div class="cat col-xs-6 col-sm-4 col-md-4">
           <%= get_url_img("aceites.jpg","ace","Aceites") %>
      <p><%=get_url("ACEITES","ace","Aceites") %></p>
    </div>

        <div class="cat col-xs-6 col-sm-4 col-md-4">
           <%= link_to image_tag("ter/portadatermometros.jpg" ), :controller => "categories", :action => "index_controls", :terM=>"terM" , :terT=>"terT" , :terP=>"terP"  %>
      <p><%= link_to "CONTROLES PARA REFRIGERACIÓN", :controller => "categories", :action => "index_controls", :terM=>"terM" , :terT=>"terT" , :terP=>"terP"  %></p>
    </div>

        <div class="cat col-xs-6 col-sm-4 col-md-4">
          <%= link_to (image_tag "tools/bis.png"), :controller => "categories", :action => "show_tools", :type => "cyb", :link=>"tools/bis.png" , :titulo=>"Cieres y Bisagras" , :fotos=>"bisagra"%>
      <p><%= link_to "CIERRES Y BISAGRAS", :controller => "categories", :action => "show_tools", :type => "cyb", :link=>"tools/bis.png" , :titulo=>"Cierres y Bisagras" , :fotos=>"bisagra"%></p>
    </div>

        <div class="cat col-xs-6 col-sm-4 col-md-4">
           <%= get_url_img("ais/aislante.jpg","ais","Aislación Térmica") %>
      <p><%=get_url("ACCESORIOS PARA LA AISLACION","ais","Aislación Térmica") %></p>
    </div>

        <div class="cat col-xs-6 col-sm-4 col-md-4">
          <%= link_to image_tag("tools/tools.jpg" ), :controller => "categories", :action => "index_tools", :catT=>"her" , :catA=>"acc"  %>
      <p><%= link_to "HERRAMIENTAS", :controller => "categories", :action => "index_tools", :catT=>"her" , :catA=>"acc"  %></p>
    </div>

        <div class="cat col-xs-6 col-sm-4 col-md-4">
          <%= link_to (image_tag "tools/val.png"), :controller => "categories", :action => "show_tools", :type => "val", :link=>"tools/val.png" , :titulo=>"Valvulas" , :fotos=>"valvulas"%>
      <p><%= link_to "VÁLVULAS", :controller => "categories", :action => "show_tools", :type => "val", :link=>"tools/val.png" , :titulo=>"Valvulas" , :fotos=>"valvulas"%></p>
    </div>

        <div class="cat col-xs-6 col-sm-4 col-md-4">
           <%= get_url_img("evaporadores.jpg","eva","Evaporadores") %>
      <p><%=get_url("EVAPORADORES","eva","Evaporadores") %></p>
    </div>

        <div class="cat col-xs-6 col-sm-4 col-md-4">
           <%= get_url_img("condensadores.jpg","con","Condensadores") %>
      <p><%=get_url("CONDENSADORES","con","Condensadores") %></p>
    </div>

        <div class="cat col-xs-6 col-sm-4 col-md-4">
           <%= get_url_img("Refrigerantes.jpg","ref","Refrigerantes") %>
      <p><%=get_url("GASES REFRIGERANTES","ref","Refrigerantes") %></p>
    </div>

            <div class="cat col-xs-6 col-sm-4 col-md-4">
            <%= get_url_img("tub/tubs.jpg","tub","Tuberías de cobre y soldadura") %>
      <p><%=get_url("TUB. DE COBRE Y SOLDADURA","tub","Tuberías de cobre y soldadura") %></p>
    </div>

            <div class="cat col-xs-6 col-sm-4 col-md-4">
      
      <%= link_to image_tag("sep/sep.jpg" ), :controller => "categories", :action => "index_separadores", :sepR=>"sepR" , :sepL=>"sepL",:sepA=>"sepA"  %>
      <p><%= link_to "SEPARADORES DE LIQUIDO Y ACEITE", :controller => "categories", :action => "index_separadores", :sepR=>"sepR" , :sepL=>"sepL",:sepA=>"sepA" %></p>
    </div>

            <div class="cat col-xs-6 col-sm-4 col-md-4">
              <%= get_url_img("res/resportal.jpg","res","Resistencias calefactoras") %>
      <p><%=get_url("RESISTENCIAS CALEFACTORAS","res","Resistencias calefactoras") %></p>
    </div>
    

  </div>
                           
</div>
</div>


<!--

<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Sub model</th>
      <th>Description</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.model %></td>
        <td><%= category.sub_model %></td>
        <td><%= category.description %></td>
        <td><%= category.image %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>-->
