<h1 id="crumb">>Productos</h1>
<div id="holder">
<div class="productos">


  <div class="cat-info col-md-4">
<%=image_tag("logosys2.png" , class:"img-responsive" , alt:"Responsive image")%>

  </div>

  <div class="col-md-8 opciones-bg">
    
    <div class="cat col-md-4">

      <%= link_to image_tag("compresores.jpg" ), :controller => "categories", :action => "index_category", :cat => "com" ,:title=>"Compresores" , remote:true  %>
      <p>COMPRESORES</p>
    </div>

        <div class="cat col-md-4">
      <%= link_to image_tag("ventiladores.jpg" ), :controller => "categories", :action => "index_category", :cat => "ven" , :title=>"Ventiladores", remote:true  %>
      <p>VENTILADORES</p>
    </div>

        <div class="cat col-md-4">
          <%= link_to image_tag("filtros.jpg" ), :controller => "categories", :action => "index_category", :cat => "fil", :title=>"Filtros" , remote:true  %>
      <p>FILTROS</p>
    </div>

        <div class="cat col-md-4">
          <%= link_to image_tag("aceites.jpg" ), :controller => "categories", :action => "index_category", :cat => "ace", :title=>"Aceites" , remote:true  %>
      <p>ACEITES</p>
    </div>

        <div class="cat col-md-4">
          <%= link_to image_tag("http://placehold.it/291x120" ), :controller => "categories", :action => "index_category", :cat => "ter", :title=>"Termostatos" , remote:true  %>
      <p>TERMOSTATOS</p>
    </div>

        <div class="cat col-md-4">
          <%= link_to image_tag("http://placehold.it/291x120" ), :controller => "categories", :action => "index_category", :cat => "cyb" , :title=>"Cierres y Bisagras", remote:true  %>
      <p>CIERRES Y BISAGRAS</p>
    </div>

        <div class="cat col-md-4">
          <%= link_to image_tag("aislacion.jpg" ), :controller => "categories", :action => "index_category", :cat => "ais", :title=>"Aislacion Termica" , remote:true  %>
      <p>ASISLACIÓN TÉRMICA</p>
    </div>

        <div class="cat col-md-4">
          <%= link_to image_tag("http://placehold.it/291x120" ), :controller => "categories", :action => "index_tools", :catT=>"her" , :catA=>"acc"  %>
      <p>HERRAMIENTAS</p>
    </div>

        <div class="cat col-md-4">
          <%= link_to image_tag("http://placehold.it/291x120" ), :controller => "categories", :action => "index_category", :cat => "val", :title=>"Valvulas", remote:true  %>
      <p>VÁLVULAS</p>
    </div>

        <div class="cat col-md-4">
          <%= link_to image_tag("evaporadores.jpg" ), :controller => "categories", :action => "index_category", :cat => "eva" , :title=>"Evaporadores", remote:true  %>
      <p>EVAPORADORES</p>
    </div>

        <div class="cat col-md-4">
          <%= link_to image_tag("condensadores.jpg" ), :controller => "categories", :action => "index_category", :cat => "con" , :title=>"Condensadores", remote:true  %>
      <p>CONDENSADORES</p>
    </div>

        <div class="cat col-md-4">
          <%= link_to image_tag("Refrigerantes.jpg" ), :controller => "categories", :action => "index_category", :cat => "ref" , :title=>"Gases Refrigerantes",remote:true  %>
      <p>GASES REFRIGERANTES</p>
    </div>


  </div>
                           
</div>
</div>


<!--

<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Sub model</th>
      <th>Description</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.model %></td>
        <td><%= category.sub_model %></td>
        <td><%= category.description %></td>
        <td><%= category.image %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>-->
