<h1 id="crumb">>Productos</h1>
<div id="holder">
<div class="productos">


  <div class="cat-info col-md-4">
<%=image_tag("logosys2.png" , class:"img-responsive" , alt:"Responsive image")%>

  </div>

  <div class="col-md-8 opciones-bg">
    
    <div class="cat col-md-4">
      <%= get_url("compresores.jpg","com","Compresores") %>
      <p>COMPRESORES</p>
    </div>

        <div class="cat col-md-4">
          <%= get_url("ventiladores.jpg","ven","Ventiladores") %>
      <p>VENTILADORES</p>
    </div>

        <div class="cat col-md-4">
           <%= get_url("filtros.jpg","fil","Filtros") %>
      <p>FILTROS</p>
    </div>

        <div class="cat col-md-4">
           <%= get_url("aceites.jpg","ace","Aceites") %>
      <p>ACEITES</p>
    </div>

        <div class="cat col-md-4">
           <%= get_url("http://placehold.it/291x120","ter","Termostatos") %>
      <p>CONTROLES PARA REFRIGERACIÓN</p>
    </div>

        <div class="cat col-md-4">
          <%= get_url("http://placehold.it/291x120","cyb","Cieres y Bisagras") %>
      <p>CIERRES Y BISAGRAS</p>
    </div>

        <div class="cat col-md-4">
           <%= get_url("aislacion.jpg","ais","Aislación Térmica") %>
      <p>ASISLACIÓN TÉRMICA</p>
    </div>

        <div class="cat col-md-4">
          <%= link_to image_tag("tools/tools.jpg" ), :controller => "categories", :action => "index_tools", :catT=>"her" , :catA=>"acc"  %>
      <p>HERRAMIENTAS</p>
    </div>

        <div class="cat col-md-4">
          <%= link_to (image_tag "tools/val.png"), :controller => "categories", :action => "show_tools", :type => "val", :link=>"tools/val.png" , :titulo=>"Valvulas" , :fotos=>"valvulas"%>
      <p>VÁLVULAS</p>
    </div>

        <div class="cat col-md-4">
           <%= get_url("evaporadores.jpg","eva","Evaporadores") %>
      <p>EVAPORADORES</p>
    </div>

        <div class="cat col-md-4">
           <%= get_url("condensadores.jpg","con","Condensadores") %>
      <p>CONDENSADORES</p>
    </div>

        <div class="cat col-md-4">
           <%= get_url("Refrigerantes.jpg","ref","Refrigerantes") %>
      <p>GASES REFRIGERANTES</p>
    </div>

            <div class="cat col-md-4">
            <%= get_url("Refrigerantes.jpg","ref","Tuberías de cobre y soldadura") %>
      <p>TUB. DE COBRE Y SOLDADURA</p>
    </div>

            <div class="cat col-md-4">
              <%= get_url("Refrigerantes.jpg","ref","Separadores de liquido y aceite") %>
      <p>SEPARADORES DE LIQUIDO Y ACEITE</p>
    </div>

            <div class="cat col-md-4">
              <%= get_url("Refrigerantes.jpg","ref","Resistencias calefactoras") %>
      <p>RESISTENCIAS CALEFACTORAS</p>
    </div>
    

  </div>
                           
</div>
</div>


<!--

<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Sub model</th>
      <th>Description</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.model %></td>
        <td><%= category.sub_model %></td>
        <td><%= category.description %></td>
        <td><%= category.image %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>-->
