<div class="products-cat">
		<h2>> PRODUCTOS > COMPRESORES > SEMI-HERMÉTICOS</h2>
		<div class="product col-md-3">
			<%=image_tag("http://placehold.it/350x150" , class:"img-responsive" , alt:"Responsive image")%>
			<div class="info-product"><h5>Producto</h5><p>Categoría: cat 1</p></div>
		</div>

				<div class="product col-md-3">
			<%=image_tag("http://placehold.it/350x150" , class:"img-responsive" , alt:"Responsive image")%>
			<div class="info-product"><h5>Producto</h5><p>Categoría: cat 1</p></div>
		</div>


		<div class="product col-md-3">
			<%=image_tag("http://placehold.it/350x150" , class:"img-responsive" , alt:"Responsive image")%>
			<div class="info-product"><h5>Producto</h5><p>Categoría: cat 1</p></div>
		</div>


		<div class="product col-md-3">
			<%=image_tag("http://placehold.it/350x150" , class:"img-responsive" , alt:"Responsive image")%>
			<div class="info-product"><h5>Producto</h5><p>Categoría: cat 1</p></div>
		</div>

		<div class="product col-md-3">
			<%=image_tag("http://placehold.it/350x150" , class:"img-responsive" , alt:"Responsive image")%>
			<div class="info-product"><h5>Producto</h5><p>Categoría: cat 1</p></div>
		</div>

		<div class="product col-md-3">
			<%=image_tag("http://placehold.it/350x150" , class:"img-responsive" , alt:"Responsive image")%>
			<div class="info-product"><h5>Producto</h5><p>Categoría: cat 1</p></div>
		</div>

		<div class="product col-md-3">
			<%=image_tag("http://placehold.it/350x150" , class:"img-responsive" , alt:"Responsive image")%>
			<div class="info-product"><h5>Producto</h5><p>Categoría: cat 1</p></div>
		</div>

		<div class="product col-md-3">
			<%=image_tag("http://placehold.it/350x150" , class:"img-responsive" , alt:"Responsive image")%>
			<div class="info-product"><h5>Producto</h5><p>Categoría: cat 1</p></div>
		</div>

		<div class="product col-md-3">
			<%=image_tag("http://placehold.it/350x150" , class:"img-responsive" , alt:"Responsive image")%>
			<div class="info-product"><h5>Producto</h5><p>Categoría: cat 1</p></div>
		</div>

		<div class="product col-md-3">
			<%=image_tag("http://placehold.it/350x150" , class:"img-responsive" , alt:"Responsive image")%>
			<div class="info-product"><h5>Producto</h5><p>Categoría: cat 1</p></div>
		</div>


</div>